# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

defaults:
  run:
    shell: Rscript {0}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    strategy:
      matrix:
        include:
          - {r: '4.4.0'}

    steps:
      - uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        id: setup-r
        with:
          r-version: ${{ matrix.r }}
          Ncpus: '2L'
          use-public-rspm: true

      - name: Install libglpk40 for igraph
        run: |
          sudo apt-get update -y && sudo apt-get install -y libglpk40
        shell: bash

      - name: Setup R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache-version: 2
          extra-packages: |
            any::devtools, any::pkgdown, any::circlize, any::ggalluvial, any::ggVennDiagram,
            any::ggupset, any::ggpubr, any::ggforce, any::scattermore, any::ComplexHeatmap,
            any::clustree, any::ggwordcloud, any::ggraph, any::igraph, any::hexbin, any::ggridges,
            any::zoo, any::gridtext, any::concaveman, any::iNEXT

      - uses: r-lib/actions/check-r-package@v2

      - name: Install plotthis
        run: |
          devtools::install_local(force = TRUE)

      - name: Build pkgdown site
        run: |
          devtools::document()
          pkgdown::build_site_github_pages(new_process = TRUE, install = TRUE)

      - name: Deploy to GitHub pages
        if: github.event_name != 'pull_request'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          clean: false
          branch: gh-pages
          folder: docs
